@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  :root {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }
}