apiVersion: apps/v1
kind: Deployment
metadata:
  name: dese-frontend-deployment
  labels:
    app: dese-frontend
    tier: frontend
    version: v6.8.1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dese-frontend
  template:
    metadata:
      labels:
        app: dese-frontend
        tier: frontend
        version: v6.8.1
    spec:
      containers:
        - name: dese-frontend
          image: europe-west3-docker.pkg.dev/ea-plan-seo-project/dese-ea-plan-images/dese-frontend:v6.8.1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: NODE_ENV
              value: "production"
            - name: NEXT_PUBLIC_API_URL
              value: "https://api.poolfab.com.tr"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3

